
h1 {
  text-align: center;
}
h2 {
     text-align: center;
}
form table {
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

form td {
  padding:  10px;
}

input {
  width: 250px;
  padding: 6px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttons {
  text-align: center;
  margin-top: 10px;
}

button {
  padding: 8px 14px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}


#dataTable {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: #fff;

}


#dataTable td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

#dataTable th {
  background-color: #f2f2f2;
}
